header
{background-color: #ADD8E6;
  font-family: "verdan", fantasy;
  font-size: 2.5em;
}
aside {
  width: 30%;
  padding-left: 0px;
  margin-left: 0px;
  padding-right: 4px;
  margin-right: 4px;
  float: right;
}
footer
{background-color: #ADD8E6;
  font-family: "verdana", fantasy;
  font-size: 1em;
}
